{% extends 'GalaxyBackendBundle::layout.html.twig' %}

{% block body %}
    <form method="POST" action="{{path('prize_add')}}"  {{ form_enctype(form) }}>
        {{ form_rest(form)}}
        <br />
        <button class="btn btn-primary" type="submit">create</button>
    </form>
    <ul class="record_actions">
        <li>
            <a href="{{ path('prize_list') }}">
                {% trans%}Back to the list{%endtrans%}
            </a>
        </li>
        </ul>
{% endblock %}