{% extends 'GalaxyBackendBundle::layout.html.twig' %}
{% block menu %}
<div class="navbar {#navbar-inverse#} navbar-static-top">
     <div class="navbar-inner">
          <div class="container">
               <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
               </button>
               <a class="brand" href="http://qwer.com.ua/">ITCompany</a>
               <a href="/logout" class="btn btn-small btn-primary disabled input-prepend pull-right last">layout.logout</a>
               <div class="nav-collapse collapse">
                    <ul class="nav nav-tabs" id="myTab">
                        <ul class="nav nav-tabs" id="myTab">
                            <li><a href="/admin">Управление игрой</a></li>   
                            <li><a href="#noroute17">Управление рекламой</a></li>   
                            <li><a href="/content">Управление контентом</a></li>   
                            <li><a href="#noroute26">Модератор</a></li>   
                        </ul>
                    </ul>
              </div>
          </div>
    </div>
</div>
{% endblock %}

