{% extends 'GalaxyBackendBundle::layout.html.twig' %}

{% block body %}
    <form method="POST" action="{{path('element_update', {id: element['id']})}}"  {{ form_enctype(form) }}>
        {{ form_rest(form)}}
        <br />
        <button class="btn btn-primary" type="submit">edit</button>
    </form>
    <ul class="record_actions">
        <li>
            <a href="{{ path('prize_list', {id: element['prizeId']}) }}">
                {% trans%}Back to the prize{%endtrans%}
            </a>
        </li>
        </ul>
{% endblock %}
