.masthead h1 {
    font-size: 100px;
}

.menuPrize {
    vertical-align: middle !important;
    text-align: center;
}
.menuPrizeIcon {
/*    text-align: center !important;*/
    width: 80px;
}

.myStyle {
    margin: 5px 5px 5px 0;
}

#inp {
    width: 115px;
}
#flipInp {
    width: 50px;
}
.lbl {
    width:130px;
    float: left;
}
.lblElPrice {
    width:90px;
    float: left;
}
.lblElPriceClmn2 {
    width:130px;
    float: left;
}
#txtArea {
    width: 360px;
}
.backing {
    margin-left: 10px;
}
.tdImg {
    width: 125px;
    text-align: center !important;
}