/* 
    Document   : message
    Created on : 25.07.2013, 16:41:42
    Author     : itcompany
    Description:
        Purpose of the stylesheet follows.
*/

#messageId { 
    width: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#userId {
    margin-left: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 50px;
}

#theme {
    margin-left: 19px;
    width: 220px;
}

#text {
    margin-left: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 438px;
}

#visible {
    width: 110px;
}

#moderator {
    margin-left: 19px;
    width: 220px;
}

#age {
    margin-left: 19px;
    width: 120px;
}

#title {
    margin-left: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 200px;
}

#button {
    margin-top: 20px;
    /*margin-left: 255px;*/
}

.td {
    width: 170px;
}

.tdText {
    width: 250px;
}

.tdVisible {
    width: 20px;
}

#textarea {
    width: 600px;
    float:left;
    
}

#imgfile {
    margin-left: 635px;
    
}

.width {
    width: 600px;
}
#name_mailbox {
    width: 530px;
}
#event_notification {
    width: 720px;
}