#authfrm { margin: 200px auto 0 auto; background: url(../img/keys.png) no-repeat; width:441px; height:180px; }
#username { margin: 17px 0px 0px 245px; padding: 0 4px 0 4px; color:#aaa; width: 150px; height: 23px;}
#password { margin: 7px 0px 0px 245px; padding: 0 4px 0 4px; width: 150px; background:white; text-align: left;border: 1px solid lightgrey; height: 20px;}
#remember_me { margin: 4px 5px 0px 225px; }
#_submit { margin: 20px 0px 0px 280px; }